<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Meet Nomads</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">
        Meet other digital nomads.
      </h1>
      <p>
        You've made it to an exotic city where the living is luxurious and the prices are cheap.
        After a few days, you ask yourself, "Where is my tribe."
        Nomadinder helps you find them.
      </p>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Sign Up/Sign In</h4>
    </div>
    <div class="card-body">
      <p>Click below to get Started</p>
      <%= link_to "Sign up now", new_account_registration_path, class: "btn btn-block btn-primary" %>
    </div>
  </div>
</div>
